@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --primary-background: #000000;
    --secondary-background: #0C0C0F;
    --accent-background: #7B74FE;
    --primary-text: #8E8F94;
    --accent-text: #FFFFFF;

    --m-spacing: 10px;
    --l-spacing: 20px;
    --xl-spacing: 40px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-background);
    color: var(--primary-text);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}